<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary"></i>
                    <h3>Trusted Advisor</h3>
                    <p class="text-muted">We provide actionable strategic planning services that help our clients drive their data transformation goals</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Architects</h3>
                    <p class="text-muted">We assess demand and design custom data services that enable businesses to rapidly deploy and scale delivery</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Activators</h3>
                    <p class="text-muted">We manage data delivery across the supply chain using real time and on-demand cloud based microservices.</p>
                </div>
            </div>
        </div>
    </div>
</section>
